*{
    margin: 0% ;
    padding 0  ;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/img/header-bg.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

body,html{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.headercontent{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.headercontent h2{
    font-size: 4vmin;

}

.line
{
    width: 150px;
    height: 4px;
    background-color: rgb(192, 3, 66);
    margin: 10px auto;
    border-radius: 5px;

}

.headercontent h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}


.ctn {
padding: 8px 15px;
background-color: rgb(208, 0, 104);
border-radius: 30px;
color: white ; 
} 

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;

}

ul{
    list-style: none;
}


.navlinks{
    display: flex;
    align-items: center;
}

.navlinks li{
    margin: 0 30px;
    color: white;
}

.navlinks li a{
    color: whitesmoke;
}

section{
    width: 80%;
    margin: 60px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(78, 13, 138);
}

.row
{display: flex;
align-items: center;
width: 100%;
justify-content: space-between;

}

.row .col{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center ;
    
        
}

.events .row{
    margin: top 50px; ;
}

h4{
    font-size: 3vmin;
    color: rgb(51, 29, 70);
    margin: 20px auto;
}

p{
    color: rgb(63, 47, 77);
    padding: 0px 40px;
}

.events .ctn {
    margin: top 30px; ;
}

.explore
{
    width: 100%;
    height: 100vh;
    background-image:url(./images/img/bg2.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;


}

.explorecontent{
    width: 60%;
    padding: 50px;
color: whitesmoke;
display: flex;
align-items: center;
flex-direction: column;


}

.explorecontent h1{
    font-size: 7vmin;
    

}

.explorecontent .line{
    margin-bottom: 50px;
}
.explorecontent p{
    color: white;
}

.explorecontent .ctn{

   margin-top: 40px; 
}

.tours .imagegallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.imagegallery img{
    width: 300px;
    padding: 10px;

}

.contentcol{
    width: 40%;

}

.imgcol{
    width: 60%;
}

.contentcol h1{
    font-size: 7vmin;
    color: rgb(78, 62, 93);
}

.contentcol line {
    margin-left: -1px;
}

.contentcol p {
    padding: 0;
    margin: 30px auto;
}

.contentcol .ctn{
    margin: --10px auto;
}

.footer {
width: 100%;
height: 100px;
padding: 20px 80px;
margin: 0;
background-color: rgb(82, 49, 95);
text-align: center;
justify-content: space-evenly
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
 padding: 20px auto;
}